body {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(244, 107, 57);
    max-width: 100%;
    max-height: 60px;
}

header img {
    height: 60px;
}

header .head-right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: blue;
}

.hero {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
    align-content: end;
}

.hero h1 {
    display: flex;
    justify-content: center;
    position: relative;
    left: 30%;
    padding: 15px;
    width: 35%;
    border-radius: 10px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.everyday {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 20px 50px;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.everyday-txt {
    padding: 0 20px;
    border-radius: 10px;
}

.description {
    font-size: 18px;
}

.every-images {
    display: flex;
    justify-content: space-between;
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.everyday img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.every-images span {
    font-size: 18px;
}

.healthy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 10px;
    background-color: lightgrey;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.healthy-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.health span {
    background-color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.health {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.healthy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    max-height: 100%;    font-family: Arial, Helvetica, sans-serif;
}

.location-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.location img {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: lightgray;
    object-fit: cover;
    border-radius: 10px;
}

.location span {
    font-size: 18px;
}

.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(244, 107, 57);
    padding: 10px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-right a{
    font-size: 15px;
}
